@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
body {
  background-color: #222;
}


#filter * {
	background-color: #222;
	color: #fff;
	border: 0px;
	margin: 10px;
}

#filter button:hover {
	background-color: #222;
	color: #406174;
	border: 0px;
	margin: 10px;
}

#skills .skill {
  width: 25%;
  float: left;
  height: 250px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-block;
  background: #2e5d5a;
}
#skills .skill .post-content,
#skills .skill a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#skills .skill a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
#skills .skill h2 {
  font-family: 'Open Sans', sans-serif;
  color: white;
	word-spacing: -0.15em;
	font-weight: 300;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1em 1.2em;
}
.skill .gr{
	color: #5A5050;
}
.skill:hover .gr{
	color: #fff;
}
#skills .skill h2,
#skills .skill p {
	margin: 0;
}
#skills .skill p {
  font-family: 'Open Sans', sans-serif;
  color: white;
	letter-spacing: 1px;
	font-size: 68.5%;
	padding: 0 10px 0 0;
	width: 50%;
	border-right: 1px solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
}
#skills .skill:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#skills .skill img {
   position: relative;
	display: block;
   width: -webkit-calc(300% + 60px);
	width: calc(100% + 60px);
	opacity: 1;
	-webkit-transition: opacity 0.35s,
   -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-30px,0,0) scale(1.12);
	transform: translate3d(-30px,0,0) scale(1.12);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	min-height: 100%;
  -webkit-filter: blur(2px);
}
#skills .skill:hover img {
	opacity: 0.5;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
  -webkit-filter: blur(0px);
}
